<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Executive and hardworking person with analytical mindset, always using a logical and methodical approach to achieve the goals and objectives. Friendly and sociable. Always prepared for cooperation and teamwork, as well as solo work.</p>
    <p>Active type of vacation is more preferable for me. I like jogging, swimming, biking and skating. Interested in foreign languages and cultures.</p>
</div><!--//summary-->
</section><!--//section-->