<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Lead Software Developer</h3>
                <div class="time">Jul 2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">iQ Solutions, Almaty, Kazakhstan</div>
        </div><!--//meta-->
        <div class="details">
            <p>Developed a module for Ignition Platform that calculates data reconciliation and detects gross errors.</p>
            <p>Designed and developed a software for oil refinery and oil tank farms for management and distribution of oil products.</p>
            <p>Deployed and supported at oil refinery in Kyzylorda.</p>
            <p>Built a software for internal use to gather bid information from online procurement portal.</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Developer</h3>
                <div class="time">Nov 2015 - Jun 2016</div>
            </div><!--//upper-row-->
            <div class="company">DAR ecosystem, Almaty, Kazakhstan</div>
        </div><!--//meta-->
        <div class="details">
            <!-- <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>   -->
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Developer Intern</h3>
                <div class="time">Jun 2017 - Aug 2015</div>
            </div><!--//upper-row-->
            <div class="company">SemVox GmbH, Saarbücken, Germany</div>
        </div><!--//meta-->
        <div class="details">
            <!-- <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>   -->
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Student Research Assistant</h3>
                <div class="time">Jun 2012 - Apr 2013</div>
            </div><!--//upper-row-->
            <div class="company">CeLTech - Centre for e-Learning Technology, Saarbücken, Germany</div>
        </div><!--//meta-->
        <div class="details">
            <!-- <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>   -->
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Developer</h3>
                <div class="time">Sep 2009 - Feb 2011</div>
            </div><!--//upper-row-->
            <div class="company">Media System Agency, Almaty, Kazakhstan</div>
        </div><!--//meta-->
        <div class="details">
            <!-- <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>   -->
        </div><!--//details-->
    </div><!--//item-->
                
</section><!--//section-->