<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Lead Software Developer</h3>
                <div class="time">Jul 2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">iQ Solutions, Almaty (Kazakhstan)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Developed a module for Ignition Platform that calculates data reconciliation and detects gross errors.</li>
                <li>Designed and developed a software for oil refinery and oil tank farms for management and distribution of oil products.</li>
                <li>Deployed and supported at oil refinery in Kyzylorda.</li>
                <li>Built a software for internal use to gather bid information from online procurement portal.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Developer</h3>
                <div class="time">Nov 2015 - Jun 2016</div>
            </div><!--//upper-row-->
            <div class="company">DAR ecosystem, Almaty (Kazakhstan)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Modernized and developed monolithic legacy micro loan system to micro-services architecture using Java Spring framework.</li>
                <li>Designed and developed a reporting service for accounting department that retrieves data efficiently from cross domains and produces BI reports.</li>
                <li>Implemented two campaigns for specific customers. During the campaign customers could repay their loans without fees.</li>
                <li>Configured and deployed monitoring tool for back-end micro services. Monitoring tool is responsible for up-to-date information about process statuses, failure notifications and auto restarts.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Developer Intern</h3>
                <div class="time">Jun 2017 - Aug 2015</div>
            </div><!--//upper-row-->
            <div class="company">SemVox GmbH, Saarbücken (Germany)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Implemented the user profile view and user gallery for a dating Android application.</li>
                <li>Built an Android library to read sensor values from Bluetooth low energy devices.</li>
                <li>Developed an Android application to provide access to the operating instruction videos for GEAFOL cast resin transformers.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Student Research Assistant</h3>
                <div class="time">Jun 2012 - Apr 2013</div>
            </div><!--//upper-row-->
            <div class="company">CeLTech - Centre for e-Learning Technology, Saarbücken (Germany)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Built various interface designs and the authoring capability to choose between these different design choices, enabled other users or the system to provide hints for users of the Monitoring and Feedback Tool, through interface customization.</li>
                <li>Enabled external tools to send / control LASAD feedback mechanisms through XML messaging.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Developer</h3>
                <div class="time">Sep 2009 - Feb 2011</div>
            </div><!--//upper-row-->
            <div class="company">Media System Agency, Almaty (Kazakhstan)</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Implemented the following plugins for Alfresco CMS: mail sender, web crawler and language guesser.</li>
                <li>Built a domain specific language for parsing documents according to templates.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
                
</section><!--//section-->